$maincolor: #B5B5B5;
$bgcolor:  #F2994A;
$lcolor: #FFFFFF;
$col: #99EFD0;
$pcolor: #8476AA;
$bcolor: #361C5D;
$ncolor: #6D6D78;
$kcolor: #A4FFFF;
$violetcolor: #95A1BB;
$Whitecolor: #F6F6F6;
$vcolor : #3C3E7D;





$f-main: Gilroy-SemiBold;
$f-second: Rubik;
$f: Gilroy-Bold;