section.email
    div.email__images
        img(src="assets/images/section_email/Group.png", alt="img")
    div.email.container
        h1.email__title There are many reasons to get down
        p.email__subtitle There are many reasons to get down and start to get depressed about your situation.
        div.email__box
            div.email__text
                input#email(type='email' name='email')
            div.email__btn
                a.button(href="") SEND
        span No spam. Only releases, updates and discounts



