section.footer
    div.footer__background
        img(src='assets/images/section_footer/Group.png', alt='img')
    div.footer.container
        div.footer__wrap
            h3 ARShakir
            div.footer__socials
                div.google
                    a(href='#')
                        img(src='assets/images/section_footer/google.png' alt='foto')
                div.twitter
                    a(href='#')
                        img(src='assets/images/section_footer/Twitter.png' alt='foto')
                div.facebook
                    a(href='#')
                        img(src='assets/images/section_footer/facebook.png' alt='foto')
        div.footer__text
            div.footer__subtitle
                h5 First
                p First page
                p Second page
                p Third page
                p Fourth page
            div.footer__subtitle
                h5 Second
                p First page
                p Second page
                p Third page
                p Fourth page
            div.footer__subtitle
                h5 Third
                p First page
                p Second page
                p Third page
                p Fourth page
            div.footer__subtitle
                h5 Fourth
                p First page
                p Second page
                p Third page
                p Fourth page
        div.copy
            p &copy; Copyrights 2021
            p Privacy policy
            p Terms of service


