header
    div.header__container
        div.header__button
            a(href="")
                img(src="assets/images/section_header/1.png", alt="img")
        div.header__links
            a.link1(href="") About               
            a.link2(href="") Gallery 
            a.link3(href="") Pricing
            a.link4(href="") FAQ
            a.link5(href="") Benefits
            div.links__sign__in
                a.links1(href="") Sign In
            div.links__sign__up
                a.links2(href="") Sign Up