section__header
    div.header.container
        div.header__left
            div.header__button
                a.button(href="")
                    img(src="assets/images/section_header/1.png", alt="img")
            div.header__links
                a.link(href="") About
                a.link(href="") Gallery
                a.link(href="") Pricing
                a.link(href="") FAQ
                a.link(href="") Benefits
        div.header__right
            a.links__sign__in(href="") Sign In
            a.links__sign__up(href="") Sign Up