div.help__content
    div.help__left
        div.help__left__img
            img(src="assets/images/section_help/1.png")
    div.help__right
        div.help__right__holder1
            h3 Help Finding Information Online
            p
                | Fully customizable and neatly organized components
                br
                | will help you work faster without limiting creative freedom.

        div.help__right__holder2
            div.help__right__col1
                img(src="assets/images/section_help/3.png")
                h5 Feature One
                p
                    | Fully customizable and neatly
                    br
                    |  organized components will
                    br
                    |  help you work faster

            div.help__right__col2
                img(src="assets/images/section_help/4.png")
                h5 Feature Two
                p
                    | Fully customizable and neatly
                    br
                    |  organized components will
                    br
                    |  help you work faster
    div.help__images
        img(src="assets/images/section_help/2.png")




