section.hero
    div.hero.container
        div.hero__block
            div.hero__left
                h1.title Many reasons to get up and start to get back in the business
                p.subtitle The harder you work for something, the greater you’ll feel when you achieve it.
                div.hero__links
                    a.learnMore(href="") Learn More
                    a.demo(href="") Demo
                div.hero__content
                    a(href="")
                        img.hero__content__images(src="assets/images/section_hero/2.png", alt="img")
                    div.hero__content__text
                        p.subtitle2 The harder you work for something, the greater you’ll feel when you achieve it.
                        p.subtitle3 Watch preview
            div.hero__right
                include svg/hero_svg/men
    div.hero__bottom
        img.vector1(src="assets/images/section_hero/vector1.png", alt="img")
        div.hero__bottom__svg
            include svg/hero_svg/profitwel
            include svg/hero_svg/appcues
            include svg/hero_svg/shipBob
            include svg/hero_svg/bench
            include svg/hero_svg/ubbly
            include svg/hero_svg/demio
        img.vector2(src="assets/images/section_hero/vector2.png", alt="img")
