section__increase__business
    div.increase__business.container
        div.increase__business__left
            div.increase__business__cont
                h1.increase__business__title Increase your business
                span traffic
                p.increase__business__subtitle We are committed to processing the information in order to contact you and talk about your project.
                a.learnMore(href="") Learn More
        div.increase__business__right
            img.graphic(src="assets/images/section_increase/1.png", alt="img")


