div.invest__row
    div.invest__left.container
        h1
            | Invest property for better
            span  business
        p
            | We are committed to  processing the information in order to
            br
            |  contact you and talk about your project. We are committed to
            br
            |  processing the information.

        a.LearnMore(href="") Learn More
    div.invest__right
        img(src="assets/images/section_invest/text.png")
