section__money
    div.money__images
        img(src="assets/images/section_money/vector_money.png", alt="img")
    div.money.container
        div.money__inner
            h6.money__title
                | 3 Simple Ways To
                span  Save
                |   A Bunch Of
                span  Money
                |  When Buying A New Computer

            p.money__subtitle Fully customizable and neatly organized components  will help you work faster without limiting creative freedom.
        div.money__wrapper
            div.money__wrapper__list
                h6 100+
                p
                    | 5 Reasons To Purchase
                    br
                    |  Desktop Computers

            div.money__wrapper__list
                h6 43,000+
                p
                    | 3 Simple Ways To Save A Bunch Of
                    br
                    |  Money When Buying A New Computer

            div.money__wrapper__list
                h6 30+
                p
                    | A Discount Toner Cartridge
                    br
                    | Is Better Than Ever And You
                    br
                    | Will Save 50 Or More