div.project.container
    div.project__heading
        h1
            | Create your
            span  next project
            |   next project with startup framework
        a.GetStarted(href="") Get Started
    div.project__svg
        include svg/project_svg/project
