.footer.container {
  margin-top: -500px;
}
.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 95px;

    h3 {
      font-family: $f-main;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.325px;
      color: $bgcolor;
    }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;

  .google, .twitter , .facebook {
    width: 80px;
    height: 80px;
  }

}
.footer__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

    h5 {
      font-family: $f-main;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: $lcolor;
      margin-bottom: 25px;
    }

    p {
      font-family: $f-main;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $lcolor;
      margin-bottom: 15px;
    }
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;

    p {
      font-family: $f-main;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $greycolor;
    }
}

@media screen and (max-width: 1020px) {
  .footer__wrap {
    margin-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .footer__wrap {
    margin-top: 200px;
  }
}
@media screen and (max-width: 550px) {
  .footer__wrap {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__socials {
      margin-top: 25px;
      text-align: center;
    }
  }
  .footer__text {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .footer__wrap {
    margin-top: 400px;
  }
}