.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 0px 100px 0px;
    margin-left: 170px;
    margin-right: 170px;
}
.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $f-main;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $maincolor;

    .link2, .link3, .link4, .link5 {
        margin-left: 40px;
    }
}
.links__sign__in {
    border: 2px solid $bgcolor;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 425px;
    
    .links1 {
        font-family: $f-main;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $bgcolor;        
    }
}
.links__sign__up {
    border: 2px solid $bgcolor;
    background-color: $bgcolor;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;

    .links2 {
        font-family: $f-main;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $bgcolor
    }
}

