.hero__block {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
      &__left {
        display: flex;
        flex-direction: column;
        margin-right: 8px;
      }
}
.title {
  width: 530px;
  font-family: $f-main;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: $col;
}
.subtitle {
  width: 460px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: $f-main;
  font-size: 18px;
  line-height: 22px;
  color: $pcolor;
}
.hero__links {
  margin-bottom: 60px;
    .learnMore {
      width: 150px;
      border: 2px solid $bgcolor;
      border-radius: 3px;
      background-color: $bgcolor;

      font-family: $f-main;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $lcolor;
      margin-right: 20px;

    }
    .demo {
      width: 150px;
      border: 1px solid #F2994A;
      box-sizing: border-box;
      border-radius: 4px;

      font-family: $f-main;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $bgcolor;
      transition: all 0.3s ease;
    }
  .demo:hover {
    transform: scale(1.2);
    box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.2);
  }
}
.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero__content__images {
  width: 40px;
  height: 40px;
  border: 1px solid $bcolor;
  background: $bcolor;
  border-radius: 4px;
}
.hero__content__text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
    .subtitle2 {
      width: 380px;
      margin-bottom: 5px;
      font-family: $f-second;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $pcolor;
    }
  .subtitle3 {
    font-family: $f-second;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $ncolor;
  }
}
.hero__bottom {
  display: flex;
  flex-direction: row;

  .vector1, .vector2 {
    width: 380px;
    height: 560px;
    opacity: 0.1;
  }
}
.hero__bottom__svg {
  width: 100%;
  opacity: 0.1;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .hero__right {
    display: none;
  }
  .hero__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__bottom {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .hero__block {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .hero__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 30px;
      width: 400px;
    }
    .subtitle {
      width: 200px;
      font-size: 15px;

    }
  }
  .hero__content {
    .hero__content__images {
      display: none;
    }
    .subtitle2 {
      width: 200px;
    }
  }
}
@media screen and (max-width: 390px) {
  .hero__left{
      .title {
        width: 250px;
      }
  }
  .hero__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    .learnMore {
      margin: 0;
    }
  }
}







