.money__images img {
  width: 380px;
  height: 560px;
}
.money__inner {
  margin-top: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;

    h1 {
      width: 860px;
      height: 85px;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.33px;
      color: $col;

    }

    span {
      color: $bgcolor;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 30px;
  }
    p {
      width: 410px;
      font-family: $f-main;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $pcolor;
    }
}
.money__wrapper {
  margin-top: 45px;
  margin-bottom: 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  h1 {
    width: 90px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: $col;
  }

  p {
    width: 290px;
    font-family: $f-main;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $pcolor;
  }
}
.money__wrapper__list1, .money__wrapper__list2, .money__wrapper__list3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.money__wrapper__list2 h1 {
  margin-right: 35px;
}

