.your__choice__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -300px;
    .title {
      margin-left: 300px;
    }
    .subtitle {
      width: 760px;
      margin-left: 200px;
      margin-bottom: 50px;
    }
}
.your__choice__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 220px;
  margin-right: 220px;
}
.your__choice__column1, .your__choice__column2, .your__choice__column3 {
  display: flex;
  flex-direction: column;
}
.column__desc {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
img {
      width: 24px;
      height: 24px;
    }
h4 {
  width: 215px;
  margin-left: 30px;
  font-family: $f;
  font-size: 18px;
  line-height: 22px;
  color: $col;
}
p {
  width: 245px;
  margin-left: 60px;
  margin-bottom: 40px;
  font-family: $f-main;
  font-size: 14px;
  line-height: 22px;
  color: $pcolor;
}


